<div{{ attributes }}>
    {{ form_start(form, {
        'novalidate': true,
        'data-action': 'live#action',
        'data-action-name': 'prevent|saveBook'
    }) }}
    {{ form_row(form.title) }}
    {{ form_row(form.author, {label: 'Author'}) }}
    {{ form_row(form.releasedAt) }}
    {{ form_row(form.isbn) }}
    {{ form_row(form.price) }}
    <button class="btn btn-primary {{ this.hasErrors ? 'disabled' }}" type="submit">Send</button>
    {{ form_end(form) }}
</div>